<h1>SpoilerAlert!</h1>

<h3>Spoiler</h3>

<form action="/spoilers" method="POST">
  <p>title: <input type="text" name="spoilers[title]" /></p>
  <p>subject: <input type="text" name="spoilers[subject]" /></p>
  <p>content: <input type="text" name="spoilers[content]" /></p>

  <input type="submit" value="Create Spoiler">
</form>
