<h2>Edit Thread</h2>

<<form action="/threads/<%= @thread.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <p>title: <input type="text" name="threads[title]" value="<%= @thread.title%>" /></p>
  <p>subject: <input type="text" name="threads[subject]" value="<%= @thread.subject %>"/></p>
  <p>content: <input type="text" name="threads[content]" value="<%= @thread.content%>"/></p>

  <input type="submit" value="Edit Thread">
</form>
  