<h1>SpoilerAlert!</h1>


<h3>Recent Threads you may have missed</h3>

<div>
  <% @threads.each do |thread|%>
    <h4><%= thread.title%></h4>
    <p>subject: <%= thread.subject%></p>
    <p><%= thread.content%></p>
  <% end %>
</div>
