<h1>SpoilerAlert!</h1>

<h3>Thread</h3>

<form action="/threads" method="POST">
  <p>title: <input type="text" name="threads[title]" /></p>
  <p>subject: <input type="text" name="threads[subject]" /></p>
  <p>content: <input type="text" name="threads[content]" /></p>

  <input type="submit" value="Create Thread">
</form>
