<form action="/threads" method="POST">
    
    <h3>New Thread</h3><br>
    <input type="text" name="title" placeholder="Thread Title"><br><br>
    <input type="text" name="spoiler" placeholder="Spoiler"><br><br>
    <input type="submit" value="Submit">

</form>