<h1> <%= @thread.title %> </h1>
<hr>
<br>
<b> Spoiler: </b><br><br>
<p><%= @thread.spoiler %></p><br>


<a href="/threads"><button>Go Back</button></a><br><br>

<a href="/threads/<%= @thread.id %>/threads/edit"><button>Edit Thread</button></a><br><br>

<form action="/threads/<%= @thread.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Thread">
</form>