<h1>Threads</h1>
<div>
  <h2><%= @thread.title %></h2>
  <ul>
    <li>
      Subject: <%= @thread.subject %>
    </li>
  </ul>
  <div>
    Content: <%= @thread.content %>
  </div>

</div>

<br/>
    <form method="POST" action="/threads/<%= @thread.id %>/delete">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Thread!">
    </form>
