  
<h1 style="text-align:center;"> Welcome to SpoilerAlert! </h1>

<br>

<p style="text-align:center;"><img alt="Login" src=https://thumbs.dreamstime.com/b/spoiler-alert-red-stamp-text-white-56287773.jpg></p>


<h3>Already have an account?  <a href="/login">Log In</h3></a>

<br>

<h4>Don't have an account? <a href="/signup">Sign Up</h4>
